@media screen and (max-width: 600px) and (min-width: 300px) {
  .contact{
    padding-bottom: 50px;
  }
  .contact .content .title {
    font-size: 20px;
    color: tomato;
    font-weight: bold;
  }
  .contact .content .title span {
    color: blue;
  }
  .contact .desc .intro {
    text-align: center;
    font-size: 30px;
    color: brown;
  }
  .contact .desc {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
  }
  .contact .content .desc button {
    font-size: 18px;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    padding: 5px 20px;
    width: fit-content;
    cursor: pointer;
    background: transparent;
    margin: 15px 0;
  }
  .contact .content .desc button:hover {
    background-color: brown;
    border-color: brown;
    color: white;
    font-weight: bold;
    transition: 0.2s;
  }
  .contact .content .desc .social {
    display: flex;
    column-gap: 20px;
    margin: 15px 0;
  }
  .contact .content .desc .social a {
    text-decoration: none;
  }
  .contact .content .desc .social i {
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 50%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact .content .social a:hover i {
    margin-top: -10px;
    transition: 0.5s;
    background-color: tomato;
    color: white;
  }
  .contact .gif {
    display: none;
  }
}
@media screen and (max-width: 900px) and (min-width: 600px) {
  .contact{
    display: grid;
    place-items: center;
    text-align: center;
    padding-bottom: 80px;
  }
  .contact .title {
    font-size: 20px;
    color: tomato;
    font-weight: bold;
  }
  .contact .title span {
    color: blue;
    font-weight: bold;
  }
  .contact .intro {
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
  }
  .contact .desc {
    text-align: center;
    padding: 30px 0px;
    color: #34a0a4;
    margin: 0 15%;
  }
  .contact .btn {
    display: flex;
    justify-content: center;
  }
  .contact .btn .hello {
    font-size: 18px;
    border: 1px solid #d9ed92;
    padding: 5px 20px;
    cursor: pointer;
  }
  .contact .content .btn .hello:hover {
    background-color: #d9ed92;
    color: black;
    font-weight: bold;
    transition: 0.5s;
  }
  .contact .content .desc .social {
    display: flex;
    column-gap: 20px;
    margin: 15px 0;
    text-align: center;
    justify-content: center;
  }
  .contact .content .desc .social a {
    text-decoration: none;
  }
  .contact .content .desc .social i {
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 50%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact .content .social a:hover i {
    margin-top: -10px;
    transition: 0.5s;
    background-color: tomato;
    color: white;
  }
  .contact .gif{
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .contact {
    display: flex;
    width: 70%;
    margin: 0 15%;
    padding: 50px 80px;
  }
  .contact .content .title {
    font-size: 25px;
    color: tomato;
    font-weight: bold;
  }
  .contact .content .title span {
    color: blue;
    font-weight: bold;
  }
  .contact .content {
    width: 500px;
  }
  .contact .content .desc {
    height: fit-content;
  }
  .contact .content .desc .intro {
    font-size: 30px;
    background: transparent;
    font-weight: bold;
    height: fit-content;
    color: brown;
    padding: 15px 0;
  }
  .contact .content .desc p {
    padding: 15px 0;
  }
  .contact .content .desc p span {
    color: blue;
    font-weight: bold;
  }
  .contact .content .desc button {
    font-size: 18px;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    padding: 5px 20px;
    width: fit-content;
    height: 30px;
    cursor: pointer;
    background: transparent;
    margin: 15px 0;
  }
  .contact .content .desc button:hover {
    background-color: brown;
    border-color: brown;
    color: white;
    font-weight: bold;
    transition: 0.2s;
  }
  .contact .content .desc .social {
    display: flex;
    column-gap: 20px;
    margin: 15px 0;
  }
  .contact .content .desc .social a {
    text-decoration: none;
  }
  .contact .content .desc .social i {
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 50%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact .content .social a:hover i {
    margin-top: -10px;
    transition: 0.5s;
    background-color: tomato;
    color: white;
  }
}
