@media screen and (max-width: 600px) and (min-width: 300px) {
  .experience {
    padding-top: 100px;
  }
  .experience .title {
    font-size: 20px;
    color: #d9ed92;
  }
  .experience .title span {
    color: #d9ed92;
  }
  .experience .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: right;
    margin-bottom: 20px;
    margin-top: 20px;
    width: auto;
    align-items: center;
  }
  .experience button {
    font-size: 15px;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    transition: black 0.3s ease;
    height: 60px;
    width: auto;
    font-weight: bold;
    color: #34a0a4;
  }
  .experience button.active {
    border-bottom: 3px solid #d9ed92;
  }
  .experience .content {
    transition: opacity 5s ease;
  }
  .experience .tab-content {
    display: none;
  }
  .experience .tab-content .card .title {
    margin: 10px 0px;
    font-size: 18px;
  }
  .experience .tab-content .card .timeline {
    font-size: 14px;
    margin: 5px 0px;
    color: #34a0a4;
  }
  .experience .tab-content .card .desc {
    margin: 30px 0px;
    font-size: 15px;
  }
  .experience .tab-content.active {
    display: block;
  }
}
@media screen and (max-width: 900px) and (min-width: 600px) {
  .experience {
    padding: 150px 0 0 0;
  }
  .experience .title {
    font-size: 20px;
    color: #d9ed92;
  }
  .experience .title span {
    color: #d9ed92;
  }
  .experience .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: right;
    margin-bottom: 20px;
    margin-top: 20px;
    width: auto;
    align-items: center;
  }
  .experience button {
    font-size: 15px;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    transition: black 0.3s ease;
    height: 60px;
    width: auto;
    font-weight: bold;
    color: #34a0a4;
  }
  .experience button.active {
    border-bottom: 3px solid #d9ed92;
  }
  .experience .content {
    transition: opacity 5s ease;
    margin: 0 15%;
    padding: 20px;
    border-left: 1px solid #d9ed92;
    margin-top: 50px;
  }
  .experience .tab-content {
    display: none;
  }
  .experience .tab-content .card .title {
    margin: 10px 0px;
    font-size: 18px;
  }
  .experience .tab-content .card .timeline {
    font-size: 14px;
    margin: 5px 0px;
    color: #34a0a4;
  }
  .experience .tab-content .card .desc {
    margin: 30px 0px;
    font-size: 15px;
  }
  .experience .tab-content.active {
    display: block;
  }
}
@media screen and (min-width : 900px){
  .experience {
    width: 100%;
    padding: 150px 0;
  }
  .experience .title {
    font-size: 20px;
    color: #d9ed92;
  }
  .experience .title span {
    color: #d9ed92;
  }
  .experience .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: right;
    margin: 20px 30%;
    width: auto;
    align-items: center;
  }
  .experience button {
    font-size: 18px;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    transition: black 0.3s ease;
    height: 60px;
    width: auto;
    font-weight: bold;
    color: #34a0a4;
  }
  .experience button.active {
    border-bottom: 3px solid #d9ed92;
  }
  .experience .content {
    transition: opacity 5s ease;
    margin: 0 25%;
    padding: 20px;
    border-left: 1px solid #d9ed92;
    margin-top: 50px;
  }
  .experience .tab-content {
    display: none;
  }
  .experience .tab-content .card .title {
    margin: 10px 0px;
    font-size: 20px;
  }
  .experience .tab-content .card .timeline {
    font-size: 14px;
    margin: 5px 0px;
    color: #34a0a4;
  }
  .experience .tab-content .card .desc {
    margin: 30px 0px;
    font-size: 15px;
  }
  .experience .tab-content.active {
    display: block;
  }
}
