@media screen and (max-width: 600px) and (min-width: 300px) {
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
    background-color: black;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .footer .rights {
    display: none;
  }
  .footer a {
    text-decoration: none;
    color: white;
    background: transparent;
    /* font-weight: bold; */
  }
  .footer .contact {
    display: none;
  }
  .footer a span {
    color: tomato;
    background: transparent;
    font-size: 20px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 900px) and (min-width: 600px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    background-color: black;
    /* padding: 10px 0; */
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
  }
  .footer .rights {
    display: flex;
    background: transparent;
  }
  .footer .rights p{
    color: white;
    background: transparent;
  }
  .footer a span {
    color: tomato;
    font-size: 20px;
    padding: 0 10px;
    background: transparent;
  }
  .footer a {
    text-decoration: none;
    color: white;
    background: transparent;
  }
}
@media screen and (min-width: 900px) {
  .footer {
    display: flex;
    background-color: black;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    align-items: center;
    padding: 0 15%;
  }
  .footer .rights{
    display: flex;
    margin: 0 100px;
    background: transparent;
  }
  .footer .rights p {
    color: white;
    background: transparent;
  }
  .footer .contact{
    color: white;
    text-decoration: none;
    background: transparent;
    margin: 0 100px;
  }
  .footer a{
    color: white;
    margin: 0 100px;
    text-decoration: none;
    background: transparent;
    display: flex;
    width: fit-content;
  }
  .footer a span{
    background: transparent;
    color: tomato;
    margin: 0 10px;
  }
}
