@media screen and (max-width: 600px) and (min-width: 300px) {
  .app {
    background-color: black;
  }
  .app .page {
    padding: 5%;
  }
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
@media screen and (max-width: 900px) and (min-width: 600px) {
  .app {
    background-color: black;
  }
  .app .page {
    padding: 5%;
  }
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
@media screen and (min-width: 900px) {
  .app {
    background-color: black;
    width: 100%;
  }
  .app .page {
    padding: 0 5% 5% 5%;
  }
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
