@media screen and (max-width: 600px) and (min-width: 300px) {
  .app {
    background-color: white;
  }
  .app .page {
    padding: 5%;
  }
}
@media screen and (max-width: 900px) and (min-width: 600px) {
  .app {
    background-color: white;
  }
  .app .page {
    padding: 5%;
  }
}
@media screen and (min-width: 900px) {
  .app {
    background-color: white;
  }
  .app .page {
    padding: 5%;
  }
}
