* {
  background-color: black;
  color: white;
  /* font-family: 'Bowlby One', sans-serif;
  font-family: 'Comfortaa', sans-serif;
  font-family: 'Handlee', cursive; */
  font-family: 'Space Mono', monospace;
}
